
<h3><% if session[:message] %>
  <%= session.delete(:message) %>
<% end %></h3>

  <body>
  <h2>Edit Your Activities for <em><%=params[:date]%></em></h2>
    <fieldset>
    <form class="edit" action='/edit_activities/<%=params[:date]%>/add' method='post'>
      <ul>
      <p>Everyday Events:</p>
        <% @standard_entries.each do |hash| %>
        <li>
          <label for="<%=hash["activity_name"]%>"><%=hash[:text_on_site] %></label>
          <input class='button' type='number' name="<%=hash["activity_name"]%>" placeholder="<%=hash["minutes_used"]%>">
        </li>
        <% end %>
      </ul>
    <%if @personal_entries != []%>  
    <ul>
      <p>Personal Activities:</p>
      <% @personal_entries.each do |hash|%>
          <li>
            <label for="<%=hash["activity_name"]%>"><%=hash[:text_on_site] %></label>
            <input class='button' type='number' name="<%=hash["activity_name"]%>" placeholder="<%=hash["minutes_used"]%>">
            <button type='submit' method='post' formaction="/delete_single_entry/<%=params[:date]%>/add/<%=hash["activity_name"]%>">Delete</button>            </li>
        <% end %>
        </form>
        <% end %>
        
        <li>
          <label for="add">Add
          <input class="text" type="text" name="add_name" placeholder="Insert New Entry Name">
          <input class="button" type="number" name="add_value" placeholder=0>
        </li>
          <button type='submit' class='button'>Submit Edits</button>
          <button type='button' onclick="window.location.href='/timesheet'">Cancel Edit</button>
          <button type='button' onclick="window.location.href='/edit_activities/<%=@date%>'">Remove Additional Entry</button>
          <button type='reset'>Clear Form</button>
        </ul>
        </fieldset>
      <br>
  </body>