
<p class="user-message"><% if session[:message] %>
  <%= session.delete(:message) %>
<% end %></p>

<body>
  <h2>Edit Your Activities for <em><%=params[:date]%></em></h2>
    <fieldset>
    <form class="edit" action='/edit_activities/<%=params[:date]%>' method='post'>
      
      <p>Everyday Events:</p>
      <dl>
        <% @standard_entries.each do |hash| %>
        
        <dt>
          <label for="<%=hash["activity_name"]%>"><%=hash[:text_on_site] %></label>
          <input class='button' type='number' name="<%=hash["activity_name"]%>" min="1" placeholder="<%=hash["minutes_used"]%>">
        </dt>
        <% end %>
      </dl>
    <%if @personal_entries != []%>  
    <dl>
      <p>Personal Activities:</p>
      <% @personal_entries.each do |hash|%>
          <dt>
            <label for="<%=hash["activity_name"]%>"><%=hash[:text_on_site] %></label>
            <input id = 'delete' class='button' type='number' name="<%=hash["activity_name"]%>" placeholder="<%=hash["minutes_used"]%>">
            <button type='submit' method='post' formaction="/delete_single_entry/<%=params[:date]%>/<%=hash["activity_name"]%>">Delete</button>            </li>
        <% end %>
        </form>
        <% end %>
        
        <dt>
          <label for="add">Add
          <input class="text" type="text" name="add_name" placeholder="Insert New Entry Name">
          <input class="button" type="number" name="add_value" placeholder=0>
        </dt>
          <button type='submit' class='button'>Submit Edits</button>
          <button type='button' onclick="window.location.href='/timesheet'">Cancel Edit</button>
          <button type='reset'>Clear Form</button>
        </dl>
        </fieldset>
      <br>
  </body>