  <body>
    <h1> How Do You Spend Your Time <%= @username %>?</h1>

  <br>
    <%== line_chart @chart  %>

  <br>
    <div class ="pie_totals">Average Hours Per Activity Per Day</div>
    <%== pie_chart @daily_activity_hours, donut: true %>
    
  <br>
    <div class ="hours_daily">Average Hours Used Per Day</div>
    <%== pie_chart @hours_used, donut: true %> 
  <br>
      <div class="total_minutes">You have an average of <strong><%=@average_minutes_remaining%></strong> minutes remaining each day.</div>
      <div class="total_minutes">That is <strong><%=@hours_remaining%></strong> hours.  Go get after it!</div>

  <br>
    <div class ="pie_totals">Total Minutes Spent on Each Logged Activity</div>
    <%== column_chart @total_minutes, donut: true %>

  </body>
  <br>


